
/*
	convert dashed string to camel-case string
	For example: DashToCamelCase($string:'A-Dashed-string') returns aDashedString
*/
@function DashToCamelCase($string){
	$newString:to-lower-case($string);
	@while str-index($newString,'-') {
		$dash : str-index($newString,'-');
		$afterDash : str-slice($newString,($dash + 1), ($dash + 1));
		$newString : ReplaceAll($source:$newString,$target:'-'+$afterDash,$replacement:to-upper-case($afterDash));
	}
	@return $newString;
}













$alphabet:'A','B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z';

/*
	convert camel-case string to dashed string. removes excess dashes
	For example: DashToCamelCase($string:'aCamelCaseString') returns 'a-camel-case-string'

	USAGE WARNING: this function can only detect word separation based on capitalization
	For example: DashToCamelCase($string:'aCamelcasestring') will return 'a-camelcasestring', DashToCamelCase($string:'anACRONYMString') will return 'an-a-c-r-o-n-y-m-string'
*/
@function CamelCaseToDash($string){	
	$newString:$string;
	@each $letter in $alphabet {
		@if str-index($string,$letter) {
			$replace:to-lower-case("-#{$letter}");
			$newString : ReplaceAll($source : $newString,$target : $letter,$replacement : $replace);
		}
	}
	@return ReplaceAll($source : to-lower-case($newString), $target:'--',$replacement:'-');
}












/*
	basic string replacement function. replaces all instances of $target in $source with $replacement 
	For example: ReplaceAll($source:'replace-some-some-string',$target:'some',$replacement:'this') returns 'replace-this-this-string'
*/
@function ReplaceAll($source,$target,$replacement) {
	$newStr : $source;
	@while str-index($newStr,$target) {
		$newStr : Replace($src:$newStr,$tgt:$target,$rep:$replacement);
	}
	@return $newStr;
}







/*
	basic string replacement function. replaces first instance of $target in $source with $replacement 
	For example: Replace($src:'replace-some-string-this',$tgt:'some',$rep:'this') returns 'replace-this-string-some'
*/
@function Replace($src,$tgt,$rep) {
	$index:str-index($src,$tgt);
	@return str-slice($src,1,($index - 1)) + $rep + str-slice($src,$index+str-length($tgt));
}







/* removes all instances of a specified character from a string */
@function Strip($src,$tgt) {
	@return ReplaceAll($source:$src,$target:$tgt,$replacement:'')
}





/* returns $count characters from the left of $source */
@function Left($source,$count) {
	@if $count>0 {
		@return str-slice($source,1,$count);
	} @else {
		@return $source;
	}
}



/* returns $count characters from the right of $source */
@function Right($source,$count) {
	@if $count>0 {
		@return str-slice($source,(str-length($source) - $count)+1);
	} @else {
		@return $source;
	}
}